{
  "openapi": "3.1.0",
  "info": {
    "title": "Maven Public API",
    "description": "Public API for Maven.com to allow students and L&D professionals to discover schools, instructors, and courses.",
    "version": "1.0.0",
    "contact": {
      "name": "Maven API Support",
      "url": "https://maven.com/contact",
      "email": "support@maven.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.maven.com",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Schools",
      "description": "Operations related to Schools"
    },
    {
      "name": "Instructors",
      "description": "Operations related to Instructors"
    },
    {
      "name": "Courses",
      "description": "Operations related to Courses"
    }
  ],
  "paths": {
    "/schools": {
      "get": {
        "tags": [
          "Schools"
        ],
        "summary": "List or search schools",
        "description": "Retrieve a paginated list of schools. Can be filtered by a partial name match.",
        "operationId": "getSchools",
        "parameters": [
          {
            "$ref": "#/components/parameters/NameFilter"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of schools list",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/School"
                  }
                },
                "examples": {
                  "schoolList": {
                    "summary": "List of schools",
                    "value": [
                      {
                        "id": "emmanuel",
                        "name": "Emmanuel Paraskakis"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/instructors": {
      "get": {
        "tags": [
          "Instructors"
        ],
        "summary": "List or search instructors",
        "description": "Retrieve a paginated list of instructors. Can be filtered by a partial name match.",
        "operationId": "getInstructors",
        "parameters": [
          {
            "$ref": "#/components/parameters/NameFilter"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of instructors list",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instructor"
                  }
                },
                "examples": {
                  "instructorList": {
                    "summary": "List of instructors",
                    "value": [
                      {
                        "id": "emmanuelparaskakis",
                        "name": "Emmanuel Paraskakis",
                        "email": "maven@level250.com"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/courses": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Search and filter courses",
        "description": "Retrieve a paginated list of courses filtered by various criteria including topic, instructor, school, rating, price, and dates.",
        "operationId": "getCourses",
        "parameters": [
          {
            "$ref": "#/components/parameters/NameFilter"
          },
          {
            "name": "instructorName",
            "in": "query",
            "description": "Filter courses by the name of the instructor",
            "schema": {
              "type": "string"
            },
            "example": "Emmanuel"
          },
          {
            "name": "schoolId",
            "in": "query",
            "description": "Filter courses by the School ID",
            "schema": {
              "type": "string"
            },
            "example": "emmanuel"
          },
          {
            "name": "minRating",
            "in": "query",
            "description": "Filter courses with a rating greater than or equal to this value",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 5
            },
            "example": 4.5
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "Filter courses with a price less than or equal to this value",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "example": 1000.00
          },
          {
            "name": "cohortStartDate",
            "in": "query",
            "description": "Filter courses having a cohort starting on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-01-08T09:00:00Z"
          },
          {
            "name": "cohortEndDate",
            "in": "query",
            "description": "Filter courses having a cohort ending on or before this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-02-01T00:00:00Z"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of courses",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                },
                "examples": {
                  "courseList": {
                    "summary": "List of courses",
                    "value": [
                      {
                        "id": "api-pm-fundamentals",
                        "name": "API Fundamentals for Product Managers",
                        "rating": 4.5,
                        "price": 999.00,
                        "landingPageUrl": "https://maven.com/emmanuel/api-pm-fundamentals",
                        "schoolId": "emmanuel",
                        "instructorId": "emmanuelparaskakis",
                        "cohorts": [
                          {
                            "id": 6,
                            "name": "Cohort 6",
                            "startDate": "2026-01-08T09:00:00Z",
                            "endDate": "2026-01-17T00:00:00Z"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/courses/{courseId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get course details",
        "description": "Retrieve full details for a specific course, including its cohorts.",
        "operationId": "getCourseById",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "The unique identifier of the course",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "api-pm-fundamentals"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of course details",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                },
                "examples": {
                  "courseDetail": {
                    "summary": "Single Course Detail",
                    "value": {
                      "id": "api-pm-fundamentals",
                      "name": "API Fundamentals for Product Managers",
                      "rating": 4.5,
                      "price": 999.00,
                      "landingPageUrl": "https://maven.com/emmanuel/api-pm-fundamentals",
                      "schoolId": "emmanuel",
                      "instructorId": "emmanuelparaskakis",
                      "cohorts": [
                        {
                          "id": 6,
                          "name": "Cohort 6",
                          "startDate": "2026-01-08T09:00:00Z",
                          "endDate": "2026-01-17T00:00:00Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/courses/{courseId}/cohorts/{cohortId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get cohort details",
        "description": "Retrieve details for a specific cohort within a course.",
        "operationId": "getCohortById",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "The unique identifier of the parent course",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "api-pm-fundamentals"
          },
          {
            "name": "cohortId",
            "in": "path",
            "description": "The unique identifier of the cohort",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of cohort details",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cohort"
                },
                "examples": {
                  "cohortDetail": {
                    "summary": "Single Cohort Detail",
                    "value": {
                      "id": 6,
                      "name": "Cohort 6",
                      "startDate": "2026-01-08T09:00:00Z",
                      "endDate": "2026-01-17T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "School": {
        "type": "object",
        "description": "A School offering courses on Maven.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the school"
          },
          "name": {
            "type": "string",
            "description": "Name of the school"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "example": {
          "id": "emmanuel",
          "name": "Emmanuel Paraskakis"
        }
      },
      "Instructor": {
        "type": "object",
        "description": "An Instructor who teaches courses.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the instructor"
          },
          "name": {
            "type": "string",
            "description": "Full name of the instructor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email of the instructor"
          }
        },
        "required": [
          "id",
          "name",
          "email"
        ],
        "example": {
          "id": "emmanuelparaskakis",
          "name": "Emmanuel Paraskakis",
          "email": "maven@level250.com"
        }
      },
      "Course": {
        "type": "object",
        "description": "A course offered by a school.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the course"
          },
          "name": {
            "type": "string",
            "description": "Title of the course"
          },
          "rating": {
            "type": "number",
            "description": "Average rating of the course (1.0 to 5.0)"
          },
          "price": {
            "type": "number",
            "description": "Cost of the course in USD"
          },
          "landingPageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the course landing page"
          },
          "schoolId": {
            "type": "string",
            "description": "ID of the school offering this course"
          },
          "instructorId": {
            "type": "string",
            "description": "ID of the primary instructor"
          },
          "cohorts": {
            "type": "array",
            "description": "List of scheduled cohorts for this course",
            "items": {
              "$ref": "#/components/schemas/Cohort"
            }
          }
        },
        "required": [
          "id",
          "name",
          "schoolId",
          "instructorId"
        ],
        "example": {
          "id": "api-pm-fundamentals",
          "name": "API Fundamentals for Product Managers",
          "rating": 4.5,
          "price": 999.00,
          "landingPageUrl": "https://maven.com/emmanuel/api-pm-fundamentals",
          "schoolId": "emmanuel",
          "instructorId": "emmanuelparaskakis",
          "cohorts": [
            {
              "id": 6,
              "name": "Cohort 6",
              "startDate": "2026-01-08T09:00:00Z",
              "endDate": "2026-01-17T00:00:00Z"
            }
          ]
        }
      },
      "Cohort": {
        "type": "object",
        "description": "A specific scheduled instance of a course.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Sequential unique identifier for the cohort"
          },
          "name": {
            "type": "string",
            "description": "Name of the cohort"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date and time of the cohort (ISO 8601)"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date and time of the cohort (ISO 8601)"
          }
        },
        "required": [
          "id",
          "name",
          "startDate",
          "endDate"
        ],
        "example": {
          "id": 6,
          "name": "Cohort 6",
          "startDate": "2026-01-08T09:00:00Z",
          "endDate": "2026-01-17T00:00:00Z"
        }
      },
      "ProblemDetails": {
        "type": "object",
        "description": "A problem details object for error responses (RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the problem type."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type."
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem."
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the specific occurrence of the problem."
          }
        },
        "required": [
          "type",
          "title",
          "status"
        ],
        "example": {
          "type": "about:blank",
          "title": "Not Found",
          "status": 404,
          "detail": "The requested course was not found."
        }
      }
    },
    "parameters": {
      "NameFilter": {
        "name": "name",
        "in": "query",
        "description": "Filter by partial match on the resource name",
        "schema": {
          "type": "string"
        },
        "example": "API Fundamentals"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "The maximum number of items to return",
        "schema": {
          "type": "integer",
          "default": 10,
          "maximum": 100
        },
        "example": 20
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "The number of items to skip before starting to collect the result set",
        "schema": {
          "type": "integer",
          "default": 0
        },
        "example": 0
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "The number of allowed requests in the current period",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of remaining requests in the current period",
        "schema": {
          "type": "integer"
        }
      },
      "Retry-After": {
        "description": "The number of seconds to wait before making a new request",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Resource not found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "about:blank",
              "title": "Not Found",
              "status": 404,
              "detail": "The resource you requested could not be found."
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "about:blank",
              "title": "Too Many Requests",
              "status": 429,
              "detail": "You have exceeded your rate limit. Please retry after the duration specified in the Retry-After header."
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "about:blank",
              "title": "Internal Server Error",
              "status": 500,
              "detail": "An unexpected error occurred on the server."
            }
          }
        }
      }
    }
  }
}