{
  "openapi": "3.1.0",
  "info": {
    "title": "Flight Tracking Public API",
    "description": "A public API for tracking aviation movements, providing airport information and real-time flight status updates. This API allows users to search for airports, look up historical and current flights, and track flight progress.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support Team",
      "url": "https://developer.flighttracker.com/support",
      "email": "support@flighttracker.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.flighttracker.com",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Airports",
      "description": "Operations related to retrieving Airport information."
    },
    {
      "name": "Flights",
      "description": "Operations related to searching and tracking Flights."
    }
  ],
  "paths": {
    "/airports": {
      "get": {
        "tags": [
          "Airports"
        ],
        "summary": "Browse Airports",
        "description": "Retrieve a paginated list of airports. Results can be filtered by country code.",
        "operationId": "getAirports",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/CountryFilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of airports.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/GeneralBadRequest"
          },
          "429": {
            "$ref": "#/components/responses/429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          }
        }
      }
    },
    "/airports/{id}": {
      "get": {
        "tags": [
          "Airports"
        ],
        "summary": "Get Airport Details",
        "description": "Retrieve specific details about an airport using its unique ICAO identifier.",
        "operationId": "getAirportById",
        "parameters": [
          {
            "$ref": "#/components/parameters/AirportIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested airport details.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Airport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/AirportNotFound"
          },
          "429": {
            "$ref": "#/components/responses/429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          }
        }
      }
    },
    "/flights": {
      "get": {
        "tags": [
          "Flights"
        ],
        "summary": "Search Flights",
        "description": "Search for flights based on route (departure/destination), date, or flight identifier.",
        "operationId": "searchFlights",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/FlightDateFilterParam"
          },
          {
            "$ref": "#/components/parameters/DepartureAirportFilterParam"
          },
          {
            "$ref": "#/components/parameters/DestinationAirportFilterParam"
          },
          {
            "$ref": "#/components/parameters/IdentifierFilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of flights matching the search criteria.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightSearchBadRequest"
          },
          "429": {
            "$ref": "#/components/responses/429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          }
        }
      }
    },
    "/flights/{id}": {
      "get": {
        "tags": [
          "Flights"
        ],
        "summary": "Get Specific Flight Status",
        "description": "Retrieve real-time status and full details of a specific flight using its composite unique identifier.",
        "operationId": "getFlightById",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested flight details.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/FlightNotFound"
          },
          "429": {
            "$ref": "#/components/responses/429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Airport": {
        "type": "object",
        "description": "Represents an airport entity with location details.",
        "required": [
          "id",
          "code",
          "name",
          "city",
          "country",
          "latitude",
          "longitude",
          "elevation"
        ],
        "properties": {
          "id": {
            "description": "The ICAO unique identifier for the airport.",
            "type": "string",
            "example": "KSFO"
          },
          "code": {
            "description": "The IATA unique identifier for the airport.",
            "type": "string",
            "example": "SFO"
          },
          "name": {
            "description": "The official name of the airport.",
            "type": "string",
            "example": "San Francisco International Airport"
          },
          "city": {
            "description": "The city where the airport is located.",
            "type": "string",
            "example": "San Francisco"
          },
          "country": {
            "description": "The ISO 3166-1 A2 two-letter country code.",
            "type": "string",
            "example": "US"
          },
          "latitude": {
            "$ref": "#/components/schemas/Latitude"
          },
          "longitude": {
            "$ref": "#/components/schemas/Longitude"
          },
          "elevation": {
            "description": "Elevation in feet above Mean Sea Level.",
            "type": "integer",
            "example": 13
          }
        }
      },
      "AirportList": {
        "type": "array",
        "description": "A collection of Airport resources.",
        "items": {
          "$ref": "#/components/schemas/Airport"
        }
      },
      "Flight": {
        "type": "object",
        "description": "Represents a flight entity containing route, aircraft, and status information.",
        "required": [
          "id",
          "identifier",
          "date",
          "aircraftType",
          "number",
          "flightRules",
          "flightType",
          "departureAirport",
          "destinationAirport",
          "plannedTimeOfDeparture",
          "estimatedTimeEnroute",
          "route"
        ],
        "properties": {
          "id": {
            "description": "The unique composite identifier (Identifier + Date).",
            "type": "string",
            "example": "EK225-20260201"
          },
          "identifier": {
            "description": "The operational flight identifier.",
            "type": "string",
            "example": "EK225"
          },
          "date": {
            "description": "The date of the flight in RFC3339/ISO8601 UTC format.",
            "type": "string",
            "format": "date-time",
            "example": "2026-02-01T21:07:42Z"
          },
          "aircraftType": {
            "description": "The aircraft type code (ICAO DOC8643).",
            "type": "string",
            "example": "A388"
          },
          "aircraftRegistration": {
            "description": "The unique registration of the aircraft.",
            "type": [
              "string",
              "null"
            ],
            "example": "A6-EOM"
          },
          "number": {
            "description": "A two-digit operational number.",
            "type": "number",
            "example": 1
          },
          "flightRules": {
            "$ref": "#/components/schemas/FlightRulesEnum"
          },
          "flightType": {
            "$ref": "#/components/schemas/FlightTypeEnum"
          },
          "departureAirport": {
            "description": "The ICAO code of the departure airport.",
            "type": "string",
            "example": "OMDB"
          },
          "destinationAirport": {
            "description": "The ICAO code of the destination airport.",
            "type": "string",
            "example": "KSFO"
          },
          "plannedTimeOfDeparture": {
            "description": "Planned departure time in RFC3339/ISO8601 UTC.",
            "type": "string",
            "format": "date-time",
            "example": "2026-02-01T21:07:42Z"
          },
          "estimatedTimeOfDeparture": {
            "description": "Estimated departure time in RFC3339/ISO8601 UTC.",
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-02-01T21:10:00Z"
          },
          "actualTimeOfDeparture": {
            "description": "Actual departure time in RFC3339/ISO8601 UTC.",
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-02-01T21:12:42Z"
          },
          "estimatedTimeEnroute": {
            "description": "Estimated flight duration in minutes.",
            "type": "integer",
            "example": 960
          },
          "estimatedTimeOfArrival": {
            "description": "Estimated arrival time in RFC3339/ISO8601 UTC.",
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-02-02T21:07:42Z"
          },
          "actualTimeOfArrival": {
            "description": "Actual arrival time in RFC3339/ISO8601 UTC.",
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": null
          },
          "route": {
            "description": "The flight route description.",
            "type": "string",
            "example": "OMDB KSFO"
          },
          "currentSpeed": {
            "description": "Current ground speed in knots.",
            "type": [
              "number",
              "null"
            ],
            "example": 490.5
          },
          "currentHeading": {
            "description": "Current magnetic heading.",
            "type": [
              "number",
              "null"
            ],
            "example": 270
          },
          "currentLevel": {
            "description": "Current flight level.",
            "type": [
              "number",
              "null"
            ],
            "example": 380
          },
          "currentPositionLattitude": {
            "$ref": "#/components/schemas/Latitude"
          },
          "currentPositionLongitude": {
            "$ref": "#/components/schemas/Longitude"
          }
        }
      },
      "FlightList": {
        "type": "array",
        "description": "A collection of Flight resources.",
        "items": {
          "$ref": "#/components/schemas/Flight"
        }
      },
      "FlightRulesEnum": {
        "description": "The flight rules type (I=Instrument, V=Visual, Y=Composite IFR-VFR, Z=Composite VFR-IFR).",
        "type": "string",
        "enum": [
          "I",
          "V",
          "Y",
          "Z"
        ],
        "example": "I"
      },
      "FlightTypeEnum": {
        "description": "The type of flight (S=Scheduled, N=Non-scheduled, G=General Aviation, M=Military, X=Other).",
        "type": "string",
        "enum": [
          "S",
          "N",
          "G",
          "M",
          "X"
        ],
        "example": "S"
      },
      "Latitude": {
        "description": "Latitude in WGS 84 system.",
        "type": [
          "number",
          "null"
        ],
        "example": 37.61881
      },
      "Longitude": {
        "description": "Longitude in WGS 84 system.",
        "type": [
          "number",
          "null"
        ],
        "example": -122.37542
      },
      "ProblemDetails": {
        "type": "object",
        "description": "A standard problem detail definition as per RFC 9457.",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the problem type.",
            "example": "https://api.flighttracker.com/errors/not-found"
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type.",
            "example": "Resource Not Found"
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
            "example": 404
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem.",
            "example": "The requested resource could not be found."
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the specific occurrence of the problem.",
            "example": "https://api.flighttracker.com/requests/12345"
          }
        }
      }
    },
    "parameters": {
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "The maximum number of items to return (default is 20).",
        "schema": {
          "type": "integer",
          "default": 20
        },
        "example": 10
      },
      "OffsetParam": {
        "name": "offset",
        "in": "query",
        "description": "The number of items to skip before starting to collect the result set.",
        "schema": {
          "type": "integer",
          "default": 0
        },
        "example": 0
      },
      "CountryFilterParam": {
        "name": "country",
        "in": "query",
        "description": "Filter airports by ISO 3166-1 A2 country code.",
        "schema": {
          "type": "string",
          "pattern": "^[A-Z]{2}$"
        },
        "example": "US"
      },
      "AirportIdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique ICAO identifier of the airport.",
        "schema": {
          "type": "string"
        },
        "example": "KSFO"
      },
      "FlightIdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The composite unique identifier of the flight (Identifier + Date).",
        "schema": {
          "type": "string"
        },
        "example": "EK225-20260201"
      },
      "FlightDateFilterParam": {
        "name": "date",
        "in": "query",
        "description": "Filter flights by date in YYYYMMDD format.",
        "schema": {
          "type": "string",
          "pattern": "^\\d{8}$",
          "description": "Date string in YYYYMMDD format."
        },
        "example": "20260201"
      },
      "DepartureAirportFilterParam": {
        "name": "departureAirport",
        "in": "query",
        "description": "Filter flights by departure airport ICAO code.",
        "schema": {
          "type": "string"
        },
        "example": "OMDB"
      },
      "DestinationAirportFilterParam": {
        "name": "destinationAirport",
        "in": "query",
        "description": "Filter flights by destination airport ICAO code.",
        "schema": {
          "type": "string"
        },
        "example": "KSFO"
      },
      "IdentifierFilterParam": {
        "name": "identifier",
        "in": "query",
        "description": "Filter flights by flight identifier string.",
        "schema": {
          "type": "string"
        },
        "example": "EK225"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "The number of allowed requests in the current period.",
        "schema": {
          "type": "integer",
          "example": 1000
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of remaining requests in the current period.",
        "schema": {
          "type": "integer",
          "example": 998
        }
      },
      "Retry-After": {
        "description": "The number of seconds to wait before retrying the request.",
        "schema": {
          "type": "integer",
          "example": 60
        }
      }
    },
    "responses": {
      "GeneralBadRequest": {
        "description": "The request was invalid or cannot be served.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://api.flighttracker.com/errors/bad-request",
              "title": "Bad Request",
              "status": 400,
              "detail": "Invalid parameter supplied."
            }
          }
        }
      },
      "FlightSearchBadRequest": {
        "description": "The flight search request was invalid (e.g. invalid date format).",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://api.flighttracker.com/errors/bad-request",
              "title": "Bad Request",
              "status": 400,
              "detail": "The 'date' parameter must be in YYYYMMDD format."
            }
          }
        }
      },
      "AirportNotFound": {
        "description": "The requested airport was not found.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://api.flighttracker.com/errors/not-found",
              "title": "Airport Not Found",
              "status": 404,
              "detail": "The airport with ID 'KSFO' could not be found."
            }
          }
        }
      },
      "FlightNotFound": {
        "description": "The requested flight was not found.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://api.flighttracker.com/errors/not-found",
              "title": "Flight Not Found",
              "status": 404,
              "detail": "The flight with ID 'EK225-20260201' could not be found."
            }
          }
        }
      },
      "429TooManyRequests": {
        "description": "The user has sent too many requests in a given amount of time.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://api.flighttracker.com/errors/rate-limit",
              "title": "Too Many Requests",
              "status": 429,
              "detail": "You have exceeded your rate limit. Please try again in 60 seconds."
            }
          }
        }
      },
      "500InternalServerError": {
        "description": "The server encountered an unexpected condition.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://api.flighttracker.com/errors/internal-error",
              "title": "Internal Server Error",
              "status": 500,
              "detail": "An unexpected error occurred while processing your request."
            }
          }
        }
      }
    }
  }
}